#twig {
    resize: none;
}

#twig_input {
    height: auto;
    padding: 10px;
    border-bottom: #203864;
    border-bottom-style: solid;
    border-bottom-width: thin;
}
#submitTwig {
    margin: 0 10% 0;
}
