#menu {
    top:0;
    height: 100vw;
    border-width: thin;
    border-color: #203864;
    border-right-style: solid;
}

#r_sidebar {
    top:0;
    height: 100vw;
    border-width: thin;
    border-color: #203864;
    border-left-style: solid;
}

#header {
    height: auto;
    width: 58.3333333334%;
    position: fixed;
    background: #203864;
    color: #ffffff;
    text-align: center;
}

#body {
    margin-top: 22px;
}
