#profile {
    height: auto;
    padding-bottom: 10px;
    border-bottom-color: #203864;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#account_header {
    height: 200px;
    padding-top: 10px;
}

#name_id {
    padding: 10px 10px 10px;
}

#bio {
    height: auto;
    padding: 10px 10px 10px;
}

#following_followers {
    padding: 10px 10px 10px;
}

#following_state {
    margin: 10px 0 0 0 ;
}

#followed_state {
    margin: 1px 0 0 0;
    text-align: center;
    color: #c8cbcf;
    background: #828686;
}

#profile_back_button {

}

#ff_button {
    width: max-content;
    text-align: center;
    height: max-content;
    display: table;
}

#ff_msg {
    display: table-cell;
    vertical-align:middle;
}

.user_ff_mode{
    padding: 10px;
    border-bottom-color: #203864;
    border-bottom-style: solid;
    border-bottom-width: thin;
}




