.twig_at_home,
.twig_at_home:hover,
.twig_at_home:visited,
.twig_at_home:active
{
    padding: 5px;
    color: inherit;
    border-bottom-color: #203864;
    border-bottom-style: solid;
    border-width: thin;
}

.twig_at_home:hover {
    text-decoration: none;
}

.user_at_twig,
.user_at_twig:hover,
.user_at_twig:visited,
.user_at_twig:active
{
    color: inherit;
}

.twig_body {
    margin-left: 20px;
}

.retwig_from {
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    border-color: #203864;
    border-style: solid;
    border-width: thin;
}


.reply_retwig_like {
    margin-left: 20px;
    height: auto;
    display        : flex;                 /* FlexBox定義         */
    justify-content: flex-start;           /* 揃えの定義          */
    flex-wrap      : wrap;                 /* 折り返し定義        */
}

.reply {
    margin-left: 5px;
    margin-right: 5px;
}

.retwig {
    margin-left: 10px;
    margin-right: 5px;
}

.like {
    margin-left: 10px;
    margin-right: 5px;
}

.num_of_retwigs {
    margin-left: 5px;
    margin-right: 10px;
}

.num_of_likes {
    margin-left: 5px;
    margin-right: 10px;
}
